@import "https://js.arcgis.com/4.29/@arcgis/core/assets/esri/themes/dark/main.css";

html,
body {
  background-color: var(--calcite-ui-foreground-2);
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.buttonsDiv {
  display: none;
  justify-content: center;
  gap: 10px;
  border: none;
}

.compareButton {
  background-color: blueviolet;
  color: white;
  border-radius: 15px;
  padding: 10px;
  border: none;
}

.cancelButton {
  background-color: rgb(185, 60, 60);
  color: white;
  border-radius: 15px;
  padding: 10px;
  border: none;
  display: none;
}
